@implements IDialogContentComponent<Home.NameAndAge>

@using Icons = Microsoft.FluentUI.AspNetCore.Components.Icons


@* Header *@
<FluentDialogHeader ShowDismiss="true">
    <FluentStack VerticalAlignment="VerticalAlignment.Center">
        <FluentIcon Value="@(new Icons.Regular.Size24.WindowApps())" />
        <FluentLabel Typo="Typography.PaneHeader">
            @Dialog.Instance.Parameters.Title
        </FluentLabel>
    </FluentStack>
</FluentDialogHeader>

@* Footer *@
<FluentDialogFooter>
    <FluentButton Appearance="Appearance.Accent" OnClick="@SaveAsync">Save</FluentButton>
    <FluentButton Appearance="Appearance.Neutral" OnClick="@CancelAsync">Cancel</FluentButton>
</FluentDialogFooter>

@* Body *@
<FluentDialogBody>
    <FluentStack Orientation="Orientation.Vertical" >
    <p>
        <FluentSelect Items=@expenseOptions
                      OptionText="@(i => i.Text)"
                      OptionValue="@(i => i.Value)"
                      OptionSelected="@(i => i.Selected)"
                      @bind-SelectedOption="@selectedExpenseOption"
                      @bind-Value="@expenseValue" />
    </p>
    
    @if (expenseValue == "expense")
    {
        <p>
        <FluentSelect Items=@creditOptions
                      OptionText="@(i => i.Text)"
                      OptionValue="@(i => i.Value)"
                      OptionSelected="@(i => i.Selected)"
                      @bind-SelectedOption="@selectedStringOption"
                      @bind-Value="@stringValue" />
                      </p>
    }
        <p>
        <FluentNumberField @bind-Value="@Content.Num">จำนวน:</FluentNumberField>
        </p>
        <p>
        <FluentTextField @bind-Value="@Content.Name">รายการ:</FluentTextField>
        </p>
    </FluentStack>

</FluentDialogBody>


@code {
    [Parameter]
    public Home.NameAndAge Content { get; set; } = default!;

    [CascadingParameter]
    public FluentDialog Dialog { get; set; } = default!;

    private async Task SaveAsync()
    {
        await Dialog.CloseAsync(Content);
    }

    private async Task CancelAsync()
    {
        await Dialog.CancelAsync();
    }

    string? stringValue;
    Option<string> selectedStringOption = default!;
    string? intValue;
    Option<int>? selectedIntOption;

    string? expenseValue;
    Option<string> selectedExpenseOption = default!;
    string? intExpenseValue;
    Option<int>? selectedIntExpenseOption;

    List<Option<string>> expenseOptions = new()
        {
            { new Option<string> { Value = "income", Text = "รายรับ", Selected = true } },
            { new Option<string> { Value = "expense", Text = "รายจ่าย"} },

        };

    List<Option<string>> creditOptions = new()
        {
            { new Option<string> { Value = "kbank", Text = "KBANK", Selected = true } },
            { new Option<string> { Value = "kbankmastercard", Text = "master"} },
            { new Option<string> { Value = "krungsri", Text = "master"} },

        };
}



