@page "/"

@using Microsoft.FluentUI.AspNetCore.Components
@using Icons = Microsoft.FluentUI.AspNetCore.Components.Icons

@* <FluentSwitch Style="width: 150px;" @bind-Value="ShowHeader">Header</FluentSwitch> *@
@* <FluentSwitch Style="width: 150px;" @bind-Value="ShowNavMenu">NavMenu</FluentSwitch> *@
@* <FluentSwitch Style="width: 150px;" @bind-Value="ShowBodyContent">BodyContent</FluentSwitch> *@
@* <FluentSwitch Style="width: 150px;" @bind-Value="ShowFooter">Footer</FluentSwitch> *@

<FluentLayout Style="margin-top: 10px;">
    @if (ShowHeader)
    {
        <FluentHeader>
            Some Header Text
            <FluentSpacer />
            Aligned to the end
        </FluentHeader>
    }

    <FluentStack Orientation="Orientation.Horizontal" Width="100%">
        @if (ShowNavMenu)
        {
            <FluentNavMenu Width="250">
                <FluentNavLink Icon="@(new Icons.Regular.Size24.Home())">Item 1</FluentNavLink>
                <FluentNavLink Icon="@(new Icons.Regular.Size24.Cloud())">Item 2</FluentNavLink>
                <FluentNavGroup Title="Item 3">
                    <FluentNavLink Icon="@(new Icons.Regular.Size24.LeafOne())" href="counter">Item 3.1</FluentNavLink>
                    <FluentNavLink Icon="@(new Icons.Regular.Size24.LeafTwo())">Item 3.2</FluentNavLink>
                </FluentNavGroup>
                <FluentNavLink Icon="@(new Icons.Regular.Size24.CalendarAgenda())" Disabled="true">Item 4</FluentNavLink>
            </FluentNavMenu>
        }

        @if (ShowBodyContent)
        {
            <FluentBodyContent>
                <div>
                    <FluentTextField @bind-Value=value2 Label="Label"></FluentTextField>
                    <FluentTextField @bind-Value=value2 Label="Label"></FluentTextField>
                </div>
                <div>
                    <FluentTextField @bind-Value=value2 Label="Label"></FluentTextField>

                </div>
            </FluentBodyContent>
        }
    </FluentStack>

    @if (ShowFooter)
    {
        <FluentFooter Style="@("height: 40px; color: white; text-align: center;")">
            Footer Text
        </FluentFooter>
    }
</FluentLayout>

@code {
    bool ShowHeader = true;
    bool ShowNavMenu = true;
    bool ShowBodyContent = true;
    bool ShowFooter = true;

    public string value2 { get; set; } = "";
}